
.header {
    /* background-color: #333; */
    color: #fff;
    padding: 20px 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    padding: 10px 140px;
  align-self: center;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .main_head{
display: flex;
justify-content: space-around;


  }
.toppost{
  margin-top: 80px;
}
.postmain{
display: flex;
flex-direction: column;
justify-content: center;

}
  .postlist{
margin-top: 20px;

  }

  .alltitle{
    font-size: 40px;
    color: #021A36;
    font-weight: 700;
  }

  .postcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post:hover {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a4a2a2;
  border-radius: 8px;
  width: 340px;
  margin-top: 20px;
  padding: 8px 40px 0 8px ;
}
.post_title{
  font-size: 18px;
  color: #021A36;
  font-weight: 600;
}
.span{
  margin-top: 38px;
  color: #3d3f43;
  font-weight: 600;
}

.post_flex{
  display: flex;
justify-content: space-between;
}
  .new_topic{
    display: flex;
    flex-direction: column;

  }
.btn_block{
  display: flex;
  flex-direction: column;
  align-self: center;
}


.buttons{
  display: flex;
  margin-top: 36px;
}
.btn-signout{
  margin-left: 10px;
}
  .t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
  }

  .link{
    text-decoration: underline;
    cursor: pointer;

  }
.topics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a4a2a2;
  border-radius: 8px;
  width: 140px;
  align-self: center;
  margin-top: 20px;
  padding: 20px 20px 20px 20px ;
}
  .topic{
    text-align: center;
    font-size: 18px;
    color: #021A36;
    font-weight: 600;
  }
  ul{
display: flex;
justify-content: center;
  }
.topic_link{
  text-decoration: underline;
  cursor: pointer;
  color: #3d3f43;
  font-weight: 500;
  font-size: 16px;
}
  .btn_newtopic{
    display: flex;
    justify-content: center;
  }