/* styles.module.css */
.header {
  display: flex;
  justify-content: space-evenly;
}

.input {
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}

.nav {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ul {
  list-style: none;
  display: flex;
}

.li {
  margin: 10px 300px 12px 0;
  align-self: center;
}

.main_head {
  display: flex;
  justify-content: space-around;
}

.postmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postlist {
  margin-top: 20px;
}

.alltitle {
  font-size: 40px;
  color: #021a36;
  font-weight: 700;
  margin-top: 40px;
}

.postcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a4a2a2;
  border-radius: 8px;
  width: 340px;
  margin-top: 20px;
  padding: 14px 40px 8px 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.post:hover {
  box-shadow: inset 6px 6px 8px #c3c3c3, -6px -6px 8px #ffffff;
  border: 2px solid rgb(18, 54, 181);
}

.post_title {
  font-size: 18px;
  color: #021a36;
  font-weight: 600;
}

.application {
  width: 840px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.description_title {
  margin-top: 10px;
}

.span {
  margin-top: 38px;
  color: #3d3f43;
  font-weight: 600;
}

.post_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  color: #3d3f43;
  font-weight: 600;
}

.new_topic {
  display: flex;
  flex-direction: column;
}

.btn_block {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.buttons {
  display: flex;
  margin-top: 36px;
}

.btn_signout {
  margin-left: 10px;
}

.btn_del {
  margin-top: 10px;
  background-color: #b2b2b4;
  color: #030a13;
  border: none;
  font-weight: 500;
  width: 150px;
  height: 30px;
}

.btn_del:hover {
  color: #fff;
  background-color: #030b15;
}

.user {
  font-weight: 700;
}

.btn_delete {
  border: none;
  border-radius: 6px;
  color: #010e1d;
  background: #ffffff;
  box-shadow: 1px 1px 4px #f87364, -2px -2px 4px #f6c0c0;
  cursor: pointer;
  font-weight: 600;
  width: 120px;
  height: 30px;
  text-align: center;
}

.btn_delete:hover {
  box-shadow: inset 2px 2px 8px #f6c0c0, -6px -6px 8px #ffffff;
}

.btn_delete_main {
  border: none;
  border-radius: 6px;
  color: #010e1d;
  background: #ffffff;
  box-shadow: 1.2px 1.2px 2px #982a1d, -1.2px -1.2px 2px #f6c0c0;
  cursor: pointer;
  font-weight: 600;
  width: 120px;
  height: 30px;
  text-align: center;
  margin-left: 30px;
}

.btn_delete_main:hover {
  box-shadow: inset 2px 2px 8px #7b2626, -6px -6px 8px #ffffff;
}

.btn_edit {
  border: none;
  border-radius: 6px;
  color: #fff;
  background: #006fee;
  margin-left: 30px;
  cursor: pointer;
  font-weight: 600;
  width: 120px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn_edit:hover {
  box-shadow: inset 2px 2px 8px #3f457b, -2px -2px 8px #c0d0f6;
  background-color: transparent;
  color: #010e1d;
}

.btn_edit_comment {
  border: none;
  border-radius: 6px;
  color: #fff;
  background: #006fee;
  cursor: pointer;
  font-weight: 600;
  width: 120px;
  height: 30px;
  text-align: center;
}

.btn_edit_comment:hover {
  box-shadow: inset 1px 1px 4px #6473f8, -2px -2px 4px #c0d0f6;
  background-color: transparent;
  color: #010e1d;
}

.btn_create:hover {
  background-color: #010e1d;
}

.t {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #021a36;
}

.link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #021a36;
  transition: width 0.5s;
}

.link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: rgb(18, 54, 181);
  transition: width 0.5s;
}

.topics_small {
  text-align: center;
  font-weight: 700;
  color: #021a36;
  font-size: 18px;
}

.topic_ul {
  margin-top: 10px;
  font-weight: 500;
}

.topics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #a4a2a2;
  border-radius: 8px;
  width: 180px;
  align-self: center;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
}

.topic {
  text-align: center;
  font-size: 18px;
  color: #021a36;
  font-weight: 600;
}

.btn_create {
  margin-left: 20px;
}

.ul {
  display: flex;
  justify-content: center;
}

.topic_link {
  text-decoration: underline;
  cursor: pointer;
  color: #3d3f43;
  font-weight: 500;
  font-size: 16px;
}

.btn_newtopic {
  display: flex;
  justify-content: center;
}

.textarea {
  display: flex;
  justify-content: center;
  width: 620px;
  height: 100px;
  margin-top: 36px;
  margin-bottom: 40px;
  border: 2px solid rgb(175, 177, 183);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  background: #ffffff;
  border-radius: 1rem;
  outline: none;
  box-shadow: 3px 3px 10px #d1d9e9, -3px -3px 10px #ffffff;
  resize: vertical;
  transition: ease 0.2s;
  cursor: pointer;
}

.textarea::placeholder {
  color: #94959b;
}

.textarea:focus {
  min-height: 100px;
  box-shadow: inset 4px 4px 10px #bbbdc1, inset -4px -4px 10px #ffffff;
  border: none;
}

.textarea:placeholder-shown {
  background: none;
}

.btn_comment {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: -14px;
  margin-bottom: 20px;
  background-color: #006fee;
  width: 140px;
  height: 44px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
}

.btn_comment:hover {
  background-color: transparent;
  box-shadow: inset 2px 2px 8px #818181, -6px -6px 8px #ffffff;
  color: #030a13;
}

.modal {
  outline: none;
  border-style: none;
  border-radius: 15px;
  background-color: #eee;
  padding: 10px 15px;
  width: 100%;
  height: 40px;
}

.inset {
  box-shadow: inset -4px -4px 10px #fff, inset 4px 2px 12px #b9bbc4;
}

.wel {
  margin-top: 10px;
  text-align: center;
}

.application_comments {
  font-size: 22px;
  font-weight: 600;
  margin-left: 70px;
  margin-bottom: 18px;
}

.all_comments {
  font-size: 18px;
  font-weight: 600;
  margin-left: -260px;
  margin-top: 30px;
}

.border_all {
  margin-bottom: 80px;
}

.pageContainer { /* New style for the page container */
  max-height: 100vh; 
  overflow-y: auto; 
  padding: 20px; 
}

.commentsContainer { /* Updated to not limit the height */
  padding: 10px;
  margin: 0 auto;
  width: 66.67%; /* 2/3 ширины */
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
  outline: none;
  background-color: #fff;
  box-shadow: inset 2px 1px 7px rgba(39, 38, 38, 0.3);
  transition: 300ms ease-in-out;
}

.border:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

.comment_one {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.comment_one_info {
  margin-left: 10px;
  margin-right: 40px;
}

.reply {
  cursor: pointer;
  font-weight: 800;
  background: white;
  border: none;
  margin-top: 10px;
}

.reply:hover {
  color: #0862c9;
}

.border_second { /* Adjusted style for nested comments */
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.children { /* New style for nested comments */
  margin-left: 20px; /* Increase margin-left for nested comments */
}

.btnback {
  margin-left: 260px;
  margin-top: 20px;
  color: #51575d;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

.btnback:hover {
  color: #0862c9;
}

.modal {
  width: 400px;
  height: 200px;
  background-color: #fff;
}

.btn_chanel {
  background-color: #021831;
  color: #fff;
}

.btn_chanel:hover {
  background-color: transparent;
  box-shadow: inset 2px 2px 8px #2b2d38, -6px -6px 8px #ffffff;
  color: #030a13;
  font-weight: 600;
}

.btndelete {
  color: rgb(167, 10, 10);
  font-weight: 700;
  background-color: transparent;
}

.create_modal {
  border: 2px #2c3d4f solid;
}

.search_result {
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 16px;
  color: #021a36;
  font-size: 18px;
}

.search_results {
  margin-top: 80px;
}

.search_result_no {
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 16px;
  color: #e0261c;
  font-size: 18px;
}

.comments-container {
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
  margin: 0 auto; 
}


.error_message {
  color: red;
  margin-top: 4px;
}

