
.header {
  display: flex;
  justify-content: space-evenly;


  }
  
.nav{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

}
  
  .ul {
    list-style: none;
    display: flex;
  }
  
  .li {
    margin: 10px 300px 12px 0;
  align-self: center;
  }
  

  
  .main_head{
display: flex;
justify-content: space-around;


  }
.toppost{

}
.postmain{
display: flex;
flex-direction: column;
justify-content: center;

}
  .postlist{
margin-top: 20px;

  }

  .alltitle{
    font-size: 40px;
    color: #021A36;
    font-weight: 700;
    margin-top: 60px;
  }

  .postcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post:hover {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a4a2a2;
  border-radius: 8px;
  width: 340px;
  margin-top: 20px;
  padding: 14px 40px 8px 14px ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.post:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 2px solid  rgb(18, 54, 181);
}
.post_title{
  font-size: 18px;
  color: #021A36;
  font-weight: 600;
}
.span{
  margin-top: 38px;
  color: #3d3f43;
  font-weight: 600;
}

.post_flex{
  display: flex;
justify-content: space-between;
margin-top: 38px;
color: #3d3f43;
font-weight: 600;
}
  .new_topic{
    display: flex;
    flex-direction: column;

  }
.btn_block{
  display: flex;
  flex-direction: column;
  align-self: center;
}


.buttons{
  display: flex;
  margin-top: 36px;
}
.btn_signout{
  margin-left: 10px;
}
.btn_del{
  margin-top: 10px;
margin-left: 10px;
color: #021A36;
font-weight: 700;
}
  .t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
  }

  .link{
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #021A36;

  }
  .link:after {
    content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 2px; 
      background-color: #021A36;
      transition: width 0.5s; 
  }
  
  .link:hover:after {
    content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 2px; 
      background-color: rgb(18, 54, 181);
      transition: width 0.5s;  
  }
       
  .topics_small{
    text-align: center;
    font-weight: 700;
    color: #021A36;
    font-size: 18px;

  }

  .topic_ul{
    margin-top: 10px;
    font-weight: 500;
  }

  
.topics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a4a2a2;
  border-radius: 8px;
  width: 140px;
  align-self: center;
  margin-top: 20px;
  padding: 20px 20px 20px 20px ;
}
  .topic{
    text-align: center;
    font-size: 18px;
    color: #021A36;
    font-weight: 600;
  }
  .ul{
display: flex;
justify-content: center;
  }
.topic_link{
  text-decoration: underline;
  cursor: pointer;
  color: #3d3f43;
  font-weight: 500;
  font-size: 16px;
}
  .btn_newtopic{
    display: flex;
    justify-content: center;
  }
  .application{
    font-size: 18px;
    font-weight: 500;
    max-width:400px;
  }
.textarea{
  max-width:420px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2pm solid rgb(124,142,207)
}

  .modal{
    outline: none;
    border-style: none;
    border-radius: 15px;
    background-color: #eee;
    padding: 10px 15px;
    width: 100%;
    height: 40px;
  }

  .inset{
   box-shadow: inset -4px -4px 10px #fff,
   inset 4px 2px 12px #b9bbc4;
  }

  .wel{
    margin-top: 10px;
    text-align: center;
  }

  /* .application{
font-size: 18px;
font-weight: 500;
max-width: 400px;
  }

  .textarea{
    max-width: 420px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid rgb(124, 142, 207);
    border-radius: 12px;
  }

  .all_comments{
    font-size: 18px;
    font-weight: 600;
margin-left: -260px; 
margin-top: 30px;
 } */
